* {
  font-family: "JetBrains Mono", sans-serif;
}

@font-face {
  font-family: "MSBoldWide";
  src: local("MonaSansBoldWide"),
    url("./components/fonts/Mona-Sans-BoldWide.ttf") format("truetype");
}

@font-face {
  font-family: "MSBoldWideItalic";
  src: local("MonaSansBoldWideItalic"),
    url("./components/fonts/Mona-Sans-BoldWideItalic.ttf") format("truetype");
}

@font-face {
  font-family: "GameOfSquids";
  src: local("GameOfSquids"),
    url("./components/fonts/Game-Of-Squids.ttf") format("truetype");
}

.max-brightness {
  filter: brightness(100%);
}

.half-brightness {
  filter: brightness(50%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}